body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* {
    border: blue solid 1px;
}*/

.monBouton {
    background-color: blue;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    
}


.header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #F7AFC6;
}

.header-top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px;
}

.top-right{
    display: flex;
    gap: 10px;
}

.header-bot {
    display: flex;    
}

.bot-left {
    padding: 10px;
    flex-grow: 1;
}

.bot-right{
    display: flex;
    justify-content: center;

}

